<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<body>
  <h2>New Restaurant</h2>
  <form action="/restaurants" method="POST">
    <input name="name" type="text" required="required">
    <input name="thumbsUp" type="checkbox">
    <button type="submit">Add Restaurant</button>
  </form>
  
  <%- include('./partials/footer') %>