<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Restaurant</title>
</head>
<body>
  <h2>New Restaurant</h2>
  <form action="/restaurants">
    <input name="name" type="text">
    <input name="thumbsUp" type="checkbox">
    <button type="submit">Add Restaurant</button>
  </form>
</body>
</html>